// all theme colors throughout page
$transGray: rgba(#8f9699, 0.66);
$transWhite: rgba(#ffffff, 0.85);
$transBlack: rgba(#1e1e1f, 0.92);
$thinGray: #dadcdd;

$lightGray: #6b6d70;
$gray: #34383b;
$gunSmoke: #1a1a1a; 

$errorRed: #bc1a1a;
$okGreen: #18af57;
$green2: #107f3e;
$blue: #368edb;