@import "../variables.scss";

#foot {
    width: 100%;
    margin: 0;
    padding: 2% 0;
    background-color: black;
    position: relative;
    z-index: 10;
    ul {
        width: 50%;
        margin: 2% 0 2% 30%;
        padding: 0;
        li {
            &:hover {
                cursor: pointer;
            }
            width: 49%;
            margin: 0;
            padding: 0;
            color: white;
            display: inline-block;
            font-size: 1rem;
            letter-spacing: .06rem;
            img {
                width: 10%;
                vertical-align: bottom;
            }
            &:nth-child(3) {
                padding-left: 1%;
                width: 48%;
                margin-top: 1.5%;
            }
            &:nth-child(4) {
                margin-top: 1.5%;
            }
        }
    }
}

@media(max-width: 1080px) {
    #foot ul {
        width: 100%;
        margin: 0;
        li {
            text-align: center;
            width: 100%;
            padding: 0;
            margin: .5% 0;
            img {
                width: 3%;
            }
            &:nth-child(3) {
                padding: 0;
                width: 100%;
                margin: .5% 0;
            }
            &:nth-child(4) {
                padding: 0;
                width: 100%;
                margin: .5% 0;
            }
        }
    }
}
